@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }

del {
  color: #dc2626;
  text-decoration: line-through;
}

ins {
  color: #16a34a;
  text-decoration: underline;
}



